body {
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
}

.nametag {
	font-size: .8em;
	margin-bottom: -.25px;
	color: #FFFFFF;


}

#login-area {

	background-color: #5CC5CC;
	width: 60%;
	padding: 20px;
	margin: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0,0,0, 0.75);
}

#login-area h1 {
	text-align: center;
	background-color: #30A8BA;
	margin-top: -10px;
	border-radius: 10px;
	/*box-shadow: 5px 5px 5px rgba(0,0,0, 0.75);*/

}
#login-area h2 {
	color: #FFFFFF;
	text-align: center;
}

.userField{
	text-align: center;
}

button.newName{
	text-align: center;
}

body{
	text-align: center;
}

button {
	margin-left: 20px;
	border-radius: 3px;
}

button[#newName]{
	margin-top: 200px;

}

.main-heading{
	color: white;
}



#userField{

	display: block;
	width: 80%;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	color: #777777;​
}

#addTask{

	display: none;
}






button#login, button#newName, button#createTask, button#showAll, button#logout, button#addTask, button#homePage {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
button#login, button#newName, button#createTask, button#showAll, button#logout, button#addTask, button#homePage:hover {
	background-color:#eb675e;
}
button#login, button#newName, button#createTask, button#showAll, button#logout, button#addTask, button#homePage:active {
	position:relative;
	top:1px;
}
